*{
    font-size: 1.1em;
}
h1{
    color:#a6f069;
    font-size: 1.7em;
    font-weight: bolder;
    font-family: Verdana;
}
form{
    width: 80%;
    padding:20px;
    margin: 0px auto;
}
input{
    height: 25px;
}
input , textarea{
    width: 100%;
    margin: 15px 0px;
    border-radius: 5px;
}
label{
    display: block;
}
input[type="radio"], input[type="checkbox"]{
    width: 20px;
    margin: 0px 5px 0px 0px;
    height: 20px;
}
input[type="submit"]{
    background-color: #055df6;
    color:#ffff;
    border-radius: 10px;
    height: auto;
}